%h1.title Show activity counts of all users
= javascript_include_tag 'https://www.google.com/jsapi'

:javascript
 google.load('visualization', '1', {packages: ['corechart']});

-#.map
-# %div#map

-# %input#gps{:type => "hidden", :value => @gps_samples.to_json}

.container
 %div#container
 %input#acts{:type => "hidden", :value => @activity_samples.to_json}

 %input#array{:type => "hidden", :value => @array}

%h2.title User Name:
-#%p=@user.name

%p= show_flash

%p= link_to 'Back to user list', users_path

-#%p=link_to "Delete all", delete_users_path, :method => :get, :confirm => 'Are you sure?'

-#= javascript_include_tag '/assets/charts/highcharts'
= javascript_include_tag '/assets/charts/charts'

-#%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}

-#tengo que mandar el div como parametro porque la funcion lo usa.
:javascript
  drawVisualization($("#acts").val(),$("#container").val(),$("#array").val());