%h1.title Compare coordinates by upload a json file

%h1 Upload json file to compare
= form_tag compareFile_locations_path, :method => :post, :enctype=>"multipart/form-data" do
  = file_field_tag :file
  = submit_tag 'Upload file'
%p


%p
= link_to 'Back to location list', locations_path